@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gęsina</h1>
    <p class="lead">Tutaj można zarządzać swoim stadkiem!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

