@model IEnumerable<Inzynierka_ostatnia.Models.InzynierEntities3>



@{
    ViewBag.Title = "Graph";
}

<h2>Graf</h2>


@*@using (Html.BeginForm())
{
    <div>Pochodzenie: </div>
    <div>@Html.TextBox("Pochodzenie")</div>
    <div>@Html.DropDownList("Rod")</div>
    <input type="submit" value="Szukaj" />
}*@

